* {
  border: none;
  font-family: "Hack Nerd Font Mono", "Hack Nerd Font";
  font-size: 14px;
  min-height: 25px;
}

window#waybar {
  border-radius: 6px;
  background: #1f1d2e;
}

#custom-arch,
#workspaces {
  background-color: #1f1d2e;
  color: #ebbcba;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-arch {
  margin-left: 15px;
  color: #ebbcba;
}

#workspaces button {
  background: #1f1d2e;
  color: #ebbcba;
}

#clock,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {
  background-color: #1f1d2e;
  color: #ebbcba;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#backlight,
#bluetooth {
  padding-right: 5px;
  margin-right: 0;
}

#network {
  padding-left: 5px;
}

#clock {
  margin-right: 0;
}
