$base: #191724;
$text: #e0def4;
$surface0: #26233a;
$surface1: #1f1d2e;
$overlay0: #6e6a86;
$overlay1: #908caa;
$overlay2: #c4a7e7;
$highlight: #eb6f92;
$muted: #524f67;
$subtle: #3e3a5d;
$blue: #9ccfd8;
$green: #31748f;
$yellow: #f6c177;
$peach: #ebbcba;
$mauve: #c4a7e7;
$red: #eb6f92;
$mantle: #1f1d2e;
$crust: #191724;
$light-gray: #908caa;
$iris: #c4a7e7;

* {
    all: unset;
    font-family: "JetBrainsMono";
}

.icon {
    font-family: monospace;
    font-size: 1.3rem;
}

button {
    transition: background-color 200ms, color 200ms;
}

.active {
    color: $peach;
    font-size: 1rem;
}

.inactive {
    color: $muted;
    font-size: 1rem;
}

.inactive:hover {
    color: $light-gray;
}

.bar {
    background-color: $mantle;
    border-left: 4px dotted $red;
}

.dashboard {
    background-color: $mantle;
}

.cal-box {
    padding: 1rem 1rem .2rem;
}

.cal {
    padding: 0.5rem;
    border-radius: 8px;
}

.calendar_box {
    padding: 1rem;

    calendar:selected {
        color: $blue;
    }

    calendar.header {
        color: $blue;
        font-weight: bold;
    }

    calendar.button {
        color: $blue;
    }

    calendar.highlight {
        color: $green;
        font-weight: bold;
    }

    calendar:indeterminate {
        color: rgba(144, 140, 170, 0.3);
    }
}

.sysinfo_box {
    .iconmem {
        font-size: 3rem;
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        color: $yellow;
    }

    .iconcpu {
        font-size: 3rem;
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        color: $blue;
    }

    .icondisk {
        font-size: 3rem;
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        color: $green;
    }

    .cpubar, .membar, .diskbar {
        background-color: $crust;
    }
}

.slider_box {
    padding: 0 1rem;

    scale {
        background-color: $crust;
        border-radius: 100px;
        margin: 0.5rem 0;
    }

    scale trough {
        border-radius: 100px;
    }

    scale highlight {
        padding: 8px;
        margin: 8px;
        border-radius: 100px;
    }
    
    .brightness_slider highlight {
        background-color: $yellow;
    }

    .volume_slider highlight {
        background-color: $blue;
    }

    .micvolume_slider highlight {
        background-color: $green;
    }
    
    .slider_icon {
        font-size: 1rem;
        padding-right: 0.75rem;
    }
}

.notification_box {}

.wifi {
    font-size: 1.4rem;
    color: $blue;
    margin-right: 4px;
    margin-bottom: 8px;
    margin-top: 4px;
}

.clock {
    font-weight: bold;
    font-size: 1.2rem;
    background-color: $crust;
    color: $iris;
    border-radius: 10px;
    padding: 0.2rem;
    margin: 0.5rem;
}

.cpubar {
    color: $blue;
    background-color: $muted;
    margin: 4px;
}

.diskbar {
    color: $green;
    background-color: $muted;
    margin: 4px;
}

.membar {
    color: $yellow;
    background-color: $muted;
    margin: 4px;
}

.iconmem, .iconcpu, .icondisk {
    color: $base;
    font-size: 2rem;
}

.date {
    font-size: 1.5rem;
}

.reg-btn {
    font-size: 1.3rem;
    border-radius: 10px;
    margin: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.dashbutton {
    color: $mauve;
}

.dashbutton:hover {
    background-color: $muted;
}

.dashbutton:active {
    background-color: $mauve;
    color: $mantle;
}

.powerbutton {
    color: $red;
}

.powerbutton:hover {
    background-color: $base;
}

.powerbutton:active {
    background-color: $red;
    color: $mantle;
}

.launchbutton {
    background-color: $blue;
    color: $mantle;
    margin: 6px;
    border-radius: 10px;
}

.launchbutton:hover {
    background-color: $mauve;
}

.launchbutton:active {
    color: $mauve;
    background-color: $mantle;
}

.battery {
    font-size: 1.3rem;
    color: $blue;
    margin-left: 3px;
}

// Credits AlphaTechnolog
.powermenu-box {
    padding: 0 2px;
    margin: 7px 7px 7px 0px;
    background: inherit;

    .dispatcher {
        border-radius: 15px;
        background: $base;
        color: $red;
        font-size: 14px;
        padding: 0 14px 0 10px;

        &:hover {
            background-color: $surface0;
        }

        &:active {
            background-color: $surface1;
        }
    }
}

// powermenu
.powermenu-container {
    background: $crust;
    color: $text;
    padding: 10px;
    font-size: 55px;

    transition: all 200ms cubic-bezier(.1, -0.00, .0, 1.49);

    .btn {
        padding: 1rem;
        margin: 1rem;
    }

    .shutdown-btn-box .btn {
        color: $red;
        border-radius: 15px;
        background-color: $mantle;

        &:hover {
            background-color: $base;
        }

        &:active {
            background-color: $surface1;
        }
    }

    .reboot-btn-box .btn {
        color: $mauve;
        border-radius: 15px;
        background-color: $mantle;

        &:hover {
            background-color: $base;
        }

        &:active {
            background-color: $surface1;
        }
    }

    .exit-btn-box .btn {
        color: $yellow;
        border-radius: 15px;
        background-color: $mantle;

        &:hover {
            background-color: $base;
        }

        &:active {
            background-color: $surface1;
        }
    }
}
